absl-py==2.1.0
altair==5.3.0
annotated-types==0.7.0
appdirs==1.4.4
astunparse==1.6.3
atomicwrites==1.4.0
backports.weakref==1.0.post1
black==24.4.0
brotlipy==0.7.0
cachetools==5.3.3
conda-verify==3.4.2
constantly==15.1.0
cssselect==1.1.0
datashape==0.5.4
distlib==0.3.8
distro==1.9.0
dynaconf==3.2.5
et-xmlfile==1.1.0
evidently==0.4.24
Faker==25.2.0
fastapi==0.110.1
filelock==3.13.4
flatbuffers==24.3.25
fonttools==4.25.0
fsspec==2024.5.0
fst-pso==1.8.1
funcy==2.0
FuzzyTM==2.0.5
gast==0.5.4
google-pasta==0.2.0
grpcio==1.62.1
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
inflection==0.5.1
iterative-telemetry==0.0.8
jsonpointer==2.1
keras==3.1.1
libclang==18.1.1
litestar==2.8.3
miniful==0.0.6
ml-dtypes==0.3.2
msgspec==0.18.6
munkres==1.1.4
namex==0.0.7
opencv-python==4.10.0.84
openpyxl==3.0.10
opt-einsum==3.3.0
optree==0.11.0
patsy==0.5.3
pep8==1.7.1
plotly==5.22.0
pluggy==1.4.0
ply==3.11
polyfactory==2.16.0
protobuf==3.20.3
pyarrow==11.0.0
pyasn1-modules==0.2.8
pydantic==2.7.1
pydantic_core==2.18.2
pydeck==0.8.1b0
PyDispatcher==2.0.5
pyFUME==0.3.1
pyLDAvis==3.4.1
pyls-spyder==0.4.0
PyQt5-sip==12.11.0
pytest==8.1.1
python-lsp-jsonrpc==1.0.0
queuelib==1.5.0
requests==2.32.2
rich-click==1.8.2
simpful==2.12.0
StackAPI==0.3.0
starlette==0.37.2
streamlit==1.33.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.36.0
termcolor==2.4.0
tf_keras==2.16.0
typing-inspect==0.9.0
typing_extensions==4.11.0
urllib3==2.2.1
uvicorn==0.29.0
uvloop==0.19.0
virtualenv==20.26.0
watchdog==4.0.0
watchfiles==0.21.0
webencodings==0.5.1
websockets==12.0
xgboost==1.7.3